src/main/resources/xsd/itm_train_movement_messaging_v1.12.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2006 sp1 U (http://www.altova.com) by Jason D'Arcy (Network Rail Infrastructure Ltd) -->
<xsd:schema xmlns:msg="http://xml.networkrail.co.uk/ns/2008/EAI" xmlns:nr="http://xml.networkrail.co.uk/ns/2008/NR" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:itm="http://xml.networkrail.co.uk/ns/2008/Train" targetNamespace="http://xml.networkrail.co.uk/ns/2008/Train" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:annotation>
		<xsd:documentation>

This schema provides the messaging definitions in use for Train Movement messages. 

Change History
=========
Version	mm/yy		Author			Description
---------	-------- 	------------	---------------------
1.0			01/08		J D'Arcy		Initial Creation
1.1			03/08		J D'Arcy		Updated to include Unidentified Train Movement Message
1.2			05/08		J D'Arcy		Updated how Original and Current train id's are used to be consistent with the delay and attribution messages.
1.3			06/08		J D'Arcy		Updates for version 1.2 regressed as these were released in error.
1.4			07/08		J D'Arcy		Updated to remove Variation Status from Cancellation Msg. Alos, top level typo in TrainReinstatementMsgV1 corrected.
1.5			07/08		J D'Arcy		Updated to include correct itm_data_v1.5.xsd file.
1.6			07/08		J D'Arcy		Updated to include correct itm_data_v1.6.xsd file.
1.7			09/08		J D'Arcy		Updated to include correct itm_data_v1.7.xsd file.
1.8			11/08		J D'Arcy		Updated to include correct itm_data_v1.8.xsd file.
1.9			11/08		J D'Arcy		Updated to include correct itm_data_v1.9.xsd file.
1.10			11/08		J D'Arcy		Updated to include itm_data_v1.10.xsd file.
1.11			08/09		J D'Arcy		Updated to include itm_data_v1.11.xsd file.
1.12			12/09		I Inglis		Updated to include itm_data_v1.12.xsd file.

(c) Copyright Network Rail

		</xsd:documentation>
	</xsd:annotation>
	<xsd:import namespace="http://xml.networkrail.co.uk/ns/2008/EAI" schemaLocation="eai_messaging_v9.xsd"/>
	<xsd:include schemaLocation="itm_data_v1.12.xsd"/>
	<xsd:element name="TrainActivationData">
		<xsd:annotation>
			<xsd:documentation>Train activation event data</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="itm:OriginalTrainID"/>
				<xsd:element ref="itm:EventTimestamp"/>
				<xsd:element ref="itm:LocationStanox"/>
				<xsd:element ref="itm:WTTTimestamp"/>
				<xsd:element ref="itm:UIDNumber"/>
				<xsd:element ref="itm:ScheduleStartTimestamp"/>
				<xsd:element ref="itm:ScheduleEndTimestamp"/>
				<xsd:element ref="itm:ScheduleSource"/>
				<xsd:element ref="itm:ScheduleType"/>
				<xsd:element ref="itm:ScheduledWTTID"/>
				<xsd:element ref="itm:TOPSUID"/>
				<xsd:element ref="itm:TrainPlanOrigin" minOccurs="0"/>
				<xsd:element ref="itm:TrainPlanOriginTimestamp"/>
				<xsd:element ref="itm:EventSource"/>
				<xsd:element ref="itm:TrainCallMode"/>
				<xsd:element ref="itm:TOC"/>
				<xsd:element ref="itm:TrainServiceCode"/>
				<xsd:element ref="itm:TrainFileAddress"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="TrainCancellationData">
		<xsd:annotation>
			<xsd:documentation>Train cancellation event data</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="itm:OriginalTrainID"/>
				<xsd:element ref="itm:CurrentTrainID" minOccurs="0"/>
				<xsd:element ref="itm:EventTimestamp"/>
				<xsd:element ref="itm:LocationStanox"/>
				<xsd:element ref="itm:WTTTimestamp" minOccurs="0"/>
				<xsd:element ref="itm:OriginStanox" minOccurs="0"/>
				<xsd:element ref="itm:OriginalWTTTimestamp" minOccurs="0"/>
				<xsd:element ref="itm:TrainCancellationType"/>
				<xsd:element ref="itm:TrainServiceCode"/>
				<xsd:element ref="itm:ReasonCode"/>
				<xsd:element ref="itm:Division"/>
				<xsd:element ref="itm:TOC"/>
				<xsd:element ref="itm:TrainFileAddress"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="TrainMovementData">
		<xsd:annotation>
			<xsd:documentation>Train movement event data</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="itm:OriginalTrainID"/>
				<xsd:element ref="itm:CurrentTrainID" minOccurs="0"/>
				<xsd:element ref="itm:EventTimestamp"/>
				<xsd:element ref="itm:LocationStanox"/>
				<xsd:element ref="itm:GBTTTimestamp" minOccurs="0"/>
				<xsd:element ref="itm:WTTTimestamp" minOccurs="0"/>
				<xsd:element ref="itm:OriginalLocationStanox" minOccurs="0"/>
				<xsd:element ref="itm:OriginalWTTTimestamp" minOccurs="0"/>
				<xsd:element ref="itm:PlannedMovementType"/>
				<xsd:element ref="itm:MovementType"/>
				<xsd:element ref="itm:EventSource"/>
				<xsd:element ref="itm:RevisionFlag" minOccurs="0"/>
				<xsd:element ref="itm:OffRouteFlag" minOccurs="0"/>
				<xsd:element ref="itm:Direction" minOccurs="0"/>
				<xsd:element ref="itm:Line" minOccurs="0"/>
				<xsd:element ref="itm:Platform" minOccurs="0"/>
				<xsd:element ref="itm:Route" minOccurs="0"/>
				<xsd:element ref="itm:TrainServiceCode"/>
				<xsd:element ref="itm:Division"/>
				<xsd:element ref="itm:TOC"/>
				<xsd:element ref="itm:TimetableVariation"/>
				<xsd:element ref="itm:VariationStatus" minOccurs="0"/>
				<xsd:element ref="itm:NextLocationStanox" minOccurs="0"/>
				<xsd:element ref="itm:NextReportRunTime" minOccurs="0"/>
				<xsd:element ref="itm:TerminatedFlag" minOccurs="0"/>
				<xsd:element ref="itm:DelayMonitoringFlag" minOccurs="0"/>
				<xsd:element ref="itm:ReportingLocationStanox" minOccurs="0"/>
				<xsd:element ref="itm:AutoExpectedFlag" minOccurs="0"/>
				<xsd:element ref="itm:TrainFileAddress"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="UnidentifiedTrainMovementData">
		<xsd:annotation>
			<xsd:documentation>Unidentified Train movement event data</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="itm:WTTID"/>
				<xsd:element ref="itm:EventTimestamp"/>
				<xsd:element ref="itm:LocationStanox"/>
				<xsd:element ref="itm:MovementType"/>
				<xsd:element ref="itm:Direction" minOccurs="0"/>
				<xsd:element ref="itm:Line" minOccurs="0"/>
				<xsd:element ref="itm:Platform" minOccurs="0"/>
				<xsd:element ref="itm:Route" minOccurs="0"/>
				<xsd:element ref="itm:Division"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="TrainReinstatementData">
		<xsd:annotation>
			<xsd:documentation>Train resinstatement event data</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="itm:OriginalTrainID"/>
				<xsd:element ref="itm:CurrentTrainID" minOccurs="0"/>
				<xsd:element ref="itm:EventTimestamp"/>
				<xsd:element ref="itm:LocationStanox"/>
				<xsd:element ref="itm:WTTTimestamp" minOccurs="0"/>
				<xsd:element ref="itm:OriginalLocationStanox" minOccurs="0"/>
				<xsd:element ref="itm:OriginalWTTTimestamp" minOccurs="0"/>
				<xsd:element ref="itm:TrainServiceCode"/>
				<xsd:element ref="itm:Division"/>
				<xsd:element ref="itm:TOC"/>
				<xsd:element ref="itm:TrainFileAddress"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="TrainChangeOriginData">
		<xsd:annotation>
			<xsd:documentation>Train change of origin event data</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="itm:OriginalTrainID"/>
				<xsd:element ref="itm:CurrentTrainID" minOccurs="0"/>
				<xsd:element ref="itm:EventTimestamp"/>
				<xsd:element ref="itm:LocationStanox"/>
				<xsd:element ref="itm:WTTTimestamp" minOccurs="0"/>
				<xsd:element ref="itm:OriginalLocationStanox" minOccurs="0"/>
				<xsd:element ref="itm:OriginalWTTTimestamp" minOccurs="0"/>
				<xsd:element ref="itm:TrainServiceCode"/>
				<xsd:element ref="itm:ReasonCode"/>
				<xsd:element ref="itm:Division"/>
				<xsd:element ref="itm:TOC"/>
				<xsd:element ref="itm:TrainFileAddress"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="TrainChangeIdentityData">
		<xsd:annotation>
			<xsd:documentation>Train change of identity event data</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="itm:OriginalTrainID"/>
				<xsd:element ref="itm:CurrentTrainID" minOccurs="0"/>
				<xsd:element ref="itm:EventTimestamp"/>
				<xsd:element ref="itm:RevisedTrainID"/>
				<xsd:element ref="itm:TrainServiceCode"/>
				<xsd:element ref="itm:TrainFileAddress"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="TrainChangeLocationData">
		<xsd:annotation>
			<xsd:documentation>Train change of location event data</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="itm:OriginalTrainID"/>
				<xsd:element ref="itm:CurrentTrainID" minOccurs="0"/>
				<xsd:element ref="itm:EventTimestamp"/>
				<xsd:element ref="itm:LocationStanox"/>
				<xsd:element ref="itm:WTTTimestamp" minOccurs="0"/>
				<xsd:element ref="itm:OriginalLocationStanox"/>
				<xsd:element ref="itm:OriginalWTTTimestamp"/>
				<xsd:element ref="itm:TrainServiceCode"/>
				<xsd:element ref="itm:TrainFileAddress"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="TrainActivationMsgV1">
		<xsd:annotation>
			<xsd:documentation>Train activation message</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="msg:Message">
					<xsd:sequence>
						<xsd:element ref="itm:TrainActivationData"/>
					</xsd:sequence>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="TrainCancellationMsgV1">
		<xsd:annotation>
			<xsd:documentation>Train cancellation message</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="msg:Message">
					<xsd:sequence>
						<xsd:element ref="itm:TrainCancellationData"/>
					</xsd:sequence>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="TrainMovementMsgV1">
		<xsd:annotation>
			<xsd:documentation>Train movement message</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="msg:Message">
					<xsd:sequence>
						<xsd:element ref="itm:TrainMovementData"/>
					</xsd:sequence>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="UnidentifiedTrainMovementMsgV1">
		<xsd:annotation>
			<xsd:documentation>Unidentified Train movement message</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="msg:Message">
					<xsd:sequence>
						<xsd:element ref="itm:UnidentifiedTrainMovementData"/>
					</xsd:sequence>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="TrainReinstatementMsgV1">
		<xsd:annotation>
			<xsd:documentation>Train reinstatement message</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="msg:Message">
					<xsd:sequence>
						<xsd:element ref="itm:TrainReinstatementData"/>
					</xsd:sequence>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="TrainChangeOriginMsgV1">
		<xsd:annotation>
			<xsd:documentation>Train change of origin message</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="msg:Message">
					<xsd:sequence>
						<xsd:element ref="itm:TrainChangeOriginData"/>
					</xsd:sequence>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="TrainChangeIdentityMsgV1">
		<xsd:annotation>
			<xsd:documentation>Train change of identity message</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="msg:Message">
					<xsd:sequence>
						<xsd:element ref="itm:TrainChangeIdentityData"/>
					</xsd:sequence>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="TrainChangeLocationMsgV1">
		<xsd:annotation>
			<xsd:documentation>Train change of location message</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="msg:Message">
					<xsd:sequence>
						<xsd:element ref="itm:TrainChangeLocationData"/>
					</xsd:sequence>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
